@import "../../App.scss";

a:-webkit-any-link {
    color: $color-black;
}

a {
    text-decoration: none;
}

body .MuiList-padding {
    margin-top: 50px !important;
}

@include breakpoint($breakpoint-desktop) {
    .MuiButton-label {
        display: none;
    }
}
